<div style="text-align: center">
  <div style="margin: auto; width: 60%">
    <div style="font-size: 170%; font-weight: bold; margin: 1em 0">
      <%= play.title %>
    </div>
    <div>
      <em><%= play.description %></em>
    </div>
  </div>
</div>
