<h1><%= @section.play.title %>,  <%= @section.name %></h1>

<table>
<% @section.sub_sections.each do |ss| %>
<tr>
  <td colspan="2">
    SECTION
  </td>
</tr>

  <% ss.lines.each do |line| %>
  <tr>
    <td align="right" style="margin-top: 20px">
      <div style="font-weight: bold"><%= line.character.name %>:</div>
    </td>
    <td style="">
      <div><%= line.text %></div>
    </td>
  </tr>
  <% end %>
<% end %>
</table>

