/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.play-title {
   font-size: 130%;
   font-weight: bold;
   font-color: darkgray;
}

.description {
  font-size: 100%;
  font-color: darkgray;
  font-style: italic;
}

.instructions {
  font-size: 80%;
  font-color: darkgray;
  background-color: lightgray;
}

.highlighted {
  font-weight: bold; 
  background: yellow; 
  display: inline;
}

.script-line {
	font-family: courier; 
	font-size: 12pt; 
	line-height: 150%;
}

.vosd {
	font-style: italic; 
	font-weight: bold; 
	display: inline; 
	padding: 5px 0;
}

.pagebreak { page-break-before: always; }

#character-id-select {
	max-width: 20em;
}